#################
## Custom
#################

.idea
.vagrant

/puphpet.zip
/puphpet/files
/!puphpet/files/*/empty
/puphpet/files/dot/ssh

/puphpet/puppet/
/puphpet/shell/
/node_modules

profiling/
tmp

